# Mobility Data from census.gov API

In [2]:
import pandas as pd
import requests

In [59]:
front='https://api.census.gov/data/'
back='/acs/acs1/pums?tabulate=weight(PWGTP)&col+JWTR&row+ucgid&ucgid=0400000US01,\
0400000US02,0400000US04,0400000US05,0400000US06,0400000US08,0400000US09,0400000US10,0400000US11,0400000US12,0400000US13,\
0400000US15,0400000US16,0400000US17,0400000US18,0400000US19,0400000US20,0400000US21,0400000US22,0400000US23,0400000US24,\
0400000US25,0400000US26,0400000US27,0400000US28,0400000US29,0400000US30,0400000US31,0400000US32,0400000US33,0400000US34,\
0400000US35,0400000US36,0400000US37,0400000US38,0400000US39,0400000US40,0400000US41,0400000US42,0400000US44,0400000US45,\
0400000US46,0400000US47,0400000US48,0400000US49,0400000US50,0400000US51,0400000US53,0400000US54,0400000US55,0400000US56'

In [64]:
#get all links
urldict={}
for year in range(2004,2019):
    url=front+str(year)+back
    urldict[year]=url

#2019's link a little different: JWTR becomes JWTRNS
urldict[2019]='https://api.census.gov/data/2019\
/acs/acs1/pums?tabulate=weight(PWGTP)&col+JWTRNS&row+ucgid&ucgid=0400000US01,\
0400000US02,0400000US04,0400000US05,0400000US06,0400000US08,0400000US09,0400000US10,0400000US11,0400000US12,0400000US13,\
0400000US15,0400000US16,0400000US17,0400000US18,0400000US19,0400000US20,0400000US21,0400000US22,0400000US23,0400000US24,\
0400000US25,0400000US26,0400000US27,0400000US28,0400000US29,0400000US30,0400000US31,0400000US32,0400000US33,0400000US34,\
0400000US35,0400000US36,0400000US37,0400000US38,0400000US39,0400000US40,0400000US41,0400000US42,0400000US44,0400000US45,\
0400000US46,0400000US47,0400000US48,0400000US49,0400000US50,0400000US51,0400000US53,0400000US54,0400000US55,0400000US56'

In [115]:
#dict for renaming cols
renamecols={'JWTR8':"Motorcycle",
 'JWTR6':"Ferry boat",
 'JWTR10':"Walked",
 'JWTR0':"Missing",
 'JWTR7':"Taxicab",
 'JWTR1':"Car/truck/van",
 'JWTR3':"Streetcar",
 'JWTR2':"Bus",
 'JWTR12':"Other",
 'JWTR11':"Worked At Home",
 'JWTR9':"Bicycle",
 'JWTR4':"Subway",
 'JWTR5':"Railroad",
 'ucgid':"ucgid"}
finalcols=list(renamecols.values())

renamecols2019={'JWTRNS08':"Motorcycle",
 'JWTRNS06':"Ferry boat",
 'JWTRNS10':"Walked",
 'JWTRNS0':"Missing",
 'JWTRNS07':"Taxicab",
 'JWTRNS01':"Car/truck/van",
 'JWTRNS03':"Streetcar",
 'JWTRNS02':"Bus",
 'JWTRNS12':"Other",
 'JWTRNS11':"Worked At Home",
 'JWTRNS09':"Bicycle",
 'JWTRNS04':"Subway",
 'JWTRNS05':"Railroad",
 'ucgid':"ucgid"}

In [105]:
urldict.keys()[-1]

TypeError: 'dict_keys' object is not subscriptable

In [149]:
#get data
finaldf= pd.DataFrame(columns=['Car/truck/van','Car_pct','Worked At Home','WFH_pct','Year','ucgid'])

for year in list(urldict.keys()):
    
    print(year)
    
    url=urldict[year]
    response = requests.get(url)
    data=response.json()
    
    #header
    cols=[]
    for i in data[0][:-1]:
        col=list(i.keys())[0]+list(i.values())[0]
        cols.append(col)
    cols.append(data[0][-1])
    
    df=pd.DataFrame(data[1:],columns=cols)
    if year==2019:
        df = df.rename(columns = renamecols2019)
    else:
        df = df.rename(columns = renamecols)
    df['WFH_pct'] = df['Worked At Home']/(df.drop('ucgid', axis=1).sum(axis=1))
    df['Car_pct'] = df['Car/truck/van']/(df.drop('ucgid', axis=1).sum(axis=1))
    df['Year']=int(year)
    df=df.loc[:,['Car/truck/van','Car_pct','Worked At Home','WFH_pct','Year','ucgid']]
    
    finaldf=pd.concat([finaldf,df], axis=0, ignore_index=True)

2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

In [150]:
finaldf

    Car/truck/van   Car_pct Worked At Home   WFH_pct  Year        ucgid
0         1835719  0.415833          44526  0.010086  2004  0400000US01
1          243550  0.382963          13859  0.021792  2004  0400000US02
2         2195828  0.389445          92132  0.016340  2004  0400000US04
3         1109112  0.415651          27844  0.010435  2004  0400000US05
4        13387756  0.381881         684711  0.019531  2004  0400000US06
..            ...       ...            ...       ...   ...          ...
811       3672166  0.430222         256477  0.030048  2019  0400000US51
812       3024275  0.397153         240429  0.031574  2019  0400000US53
813        666556  0.371932          28433  0.015865  2019  0400000US54
814       2628605  0.451462         146411  0.025146  2019  0400000US55
815        243381  0.420522          16418  0.028368  2019  0400000US56

[816 rows x 6 columns]

### Convert geoid to State

In [123]:
geoiddf = pd.read_csv('https://raw.githubusercontent.com/camillol/cs424p3/master/data/Population-Density%20By%20County.csv')

In [131]:
geoiddf=geoiddf[['GEO.id','GEO.display-label']].drop_duplicates().reset_index(drop=True)

In [133]:
geoiddf.columns = ['ucgid', 'State']

In [155]:
geoiddf.head()

         ucgid       State
0  0400000US01     Alabama
1  0400000US02      Alaska
2  0400000US04     Arizona
3  0400000US05    Arkansas
4  0400000US06  California

In [152]:
finaldf=pd.merge(finaldf, geoiddf, on='ucgid', how='outer')

In [153]:
finaldf.to_csv('censusgovworkplace.csv',index=False)

# WFH data from census.gov pulse survey
https://www.census.gov/programs-surveys/household-pulse-survey/data.html

In [158]:
import requests, bs4, re
from bs4 import BeautifulSoup as bs

In [159]:
url = 'https://www.census.gov/programs-surveys/household-pulse-survey/data.html'
#Yearlinks.append(year)
response = requests.get(url)
status = response.status_code
page = response.text
soup = bs(page)

In [160]:
weeks = soup.findAll('p', text = re.compile('Week'), attrs = {'class' : 'uscb-margin-TB-02 uscb-title-3'})

In [255]:
weekinfo={}
for week in weeks:
    week_num=week.text.split()[0]+" "+week.text.split()[1]
    num=int(week.text.split()[1])
    day=week.text.strip().split(':')[1].strip().split('–')[0].strip()
    if num < 22:
        year=2020
    elif num < 41:
        year=2021
    else:
        year=2022
    weekinfo[num]={}
    weekinfo[num]['week_num']=week_num
    weekinfo[num]['year']=year
    weekinfo[num]['day']=day

In [256]:
weekinfo

{42: {'week_num': 'Week 42', 'year': 2022, 'day': 'January 26'},
 41: {'week_num': 'Week 41', 'year': 2022, 'day': 'December 29, 2021'},
 40: {'week_num': 'Week 40', 'year': 2021, 'day': 'December 1'},
 39: {'week_num': 'Week 39', 'year': 2021, 'day': 'September 29'},
 38: {'week_num': 'Week 38', 'year': 2021, 'day': 'September 15'},
 37: {'week_num': 'Week 37', 'year': 2021, 'day': 'September 1'},
 36: {'week_num': 'Week 36', 'year': 2021, 'day': 'August 18'},
 35: {'week_num': 'Week 35', 'year': 2021, 'day': 'August 4'},
 34: {'week_num': 'Week 34', 'year': 2021, 'day': 'July 21'},
 33: {'week_num': 'Week 33', 'year': 2021, 'day': 'June 23'},
 32: {'week_num': 'Week 32', 'year': 2021, 'day': 'June 9'},
 31: {'week_num': 'Week 31', 'year': 2021, 'day': 'May 26'},
 30: {'week_num': 'Week 30', 'year': 2021, 'day': 'May 12'},
 29: {'week_num': 'Week 29', 'year': 2021, 'day': 'April 28'},
 28: {'week_num': 'Week 28', 'year': 2021, 'day': 'April 14'},
 27: {'week_num': 'Week 27', 'year': 2021, 'day': 'March 17'},
 26: {'week_num': 'Week 26', 'year': 2021, 'day': 'March 3'},
 25: {'week_num': 'Week 25', 'year': 2021, 'day': 'February 17'},
 24: {'week_num': 'Week 24', 'year': 2021, 'day': 'February 3'},
 23: {'week_num': 'Week 23', 'year': 2021, 'day': 'January 20'},
 22: {'week_num': 'Week 22', 'year': 2021, 'day': 'January 6'},
 21: {'week_num': 'Week 21', 'year': 2020, 'day': 'December 9'},
 20: {'week_num': 'Week 20', 'year': 2020, 'day': 'November 25'},
 19: {'week_num': 'Week 19', 'year': 2020, 'day': 'November 11'},
 18: {'week_num': 'Week 18', 'year': 2020, 'day': 'October 28'},
 17: {'week_num': 'Week 17', 'year': 2020, 'day': 'October 14'},
 16: {'week_num': 'Week 16', 'year': 2020, 'day': 'September 30'},
 15: {'week_num': 'Week 15', 'year': 2020, 'day': 'September 16'},
 14: {'week_num': 'Week 14', 'year': 2020, 'day': 'September 2'},
 13: {'week_num': 'Week 13', 'year': 2020, 'day': 'August 19'},
 12: {'week_num': 'Week 12', 'year': 2020, 'day': 'July 16 - July 21'},
 11: {'week_num': 'Week 11', 'year': 2020, 'day': 'July 9 - July 14'},
 10: {'week_num': 'Week 10', 'year': 2020, 'day': 'July 2 - July 7'},
 9: {'week_num': 'Week 9', 'year': 2020, 'day': 'June 25 - June 30'},
 8: {'week_num': 'Week 8', 'year': 2020, 'day': 'June 18 - June 23'},
 7: {'week_num': 'Week 7', 'year': 2020, 'day': 'June 11 - June 16'},
 6: {'week_num': 'Week 6', 'year': 2020, 'day': 'June 4 - June 9'},
 5: {'week_num': 'Week 5', 'year': 2020, 'day': 'May 28 - June 2'},
 4: {'week_num': 'Week 4', 'year': 2020, 'day': 'May 21 - May 26'},
 3: {'week_num': 'Week 3', 'year': 2020, 'day': 'May 14 - May 19'},
 2: {'week_num': 'Week 2', 'year': 2020, 'day': 'May 7 - May 12'},
 1: {'week_num': 'Week 1', 'year': 2020, 'day': 'April 23 - May 5'}}

In [186]:
#pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Note: you may need to restart the kernel to use updated packages.
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

In [252]:
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [ ]:
#for converting empty char in excel tables to zeros
def strtozero(thing):
    if type(thing) == str:
        return 0
    return thing

In [343]:
finaldata=[]

for num in range(13,34):
    
    
    
    year=weekinfo[num]['year']
    day=weekinfo[num]['day']
    
    print(num)
    print(year)
    print(day)
    
    link='https://www2.census.gov/programs-surveys/demo/tables/hhp/'+str(year)+'/wk'+str(num)+'/transport1_week'+str(num)+'.xlsx'
    
    
    
    xls = pd.ExcelFile(link)
    for state in states:
        
        mydict={}

        data = pd.read_excel(xls,state)
        
        new_header = data.iloc[3] #grab the first row for the header
        data = data[4:] #take the data less the header row
        data.columns = new_header #set the header row as the df header
        
        if num < 28:
            wftpct=(data.iloc[2,2])/(data.iloc[2,2]+data.iloc[2,3]+data.iloc[2,4])

            age1824pct=(data.iloc[4,2])/(data.iloc[4,2]+data.iloc[5,2]+data.iloc[6,2]+data.iloc[7,2]+data.iloc[8,2])
            age2539pct=(data.iloc[5,2])/(data.iloc[4,2]+data.iloc[5,2]+data.iloc[6,2]+data.iloc[7,2]+data.iloc[8,2])
            age4054pct=(data.iloc[6,2])/(data.iloc[4,2]+data.iloc[5,2]+data.iloc[6,2]+data.iloc[7,2]+data.iloc[8,2])
            age55pluspct=(data.iloc[7,2]+data.iloc[8,2])/(data.iloc[4,2]+data.iloc[5,2]+data.iloc[6,2]+data.iloc[7,2]+data.iloc[8,2])

            income50minuspct=(data.iloc[48,2]+data.iloc[49,2]+data.iloc[50,2])/(data.iloc[48,2]+data.iloc[49,2]+data.iloc[50,2]+data.iloc[51,2]\
                                  +data.iloc[52,2]+data.iloc[53,2]+data.iloc[54,2]+data.iloc[55,2])
            income50100pct=(data.iloc[51,2]+data.iloc[52,2])/(data.iloc[48,2]+data.iloc[49,2]+data.iloc[50,2]+data.iloc[51,2]\
                                          +data.iloc[52,2]+data.iloc[53,2]+data.iloc[54,2]+data.iloc[55,2])
            income100pluspct=(data.iloc[53,2]+data.iloc[54,2]+data.iloc[55,2])/(data.iloc[48,2]+data.iloc[49,2]+data.iloc[50,2]+data.iloc[51,2]\
                                          +data.iloc[52,2]+data.iloc[53,2]+data.iloc[54,2]+data.iloc[55,2])
        else:
            print(state)
            print(data.iloc[3,2])
            data=data.replace('-',0)
            
            wftpct=(data.iloc[3,2]+data.iloc[3,3]+data.iloc[3,4])/(data.iloc[3,2]+data.iloc[3,3]+data.iloc[3,4]+data.iloc[3,5])
            
            agesum=(data.iloc[5,2]+data.iloc[5,3]+data.iloc[6,2]+data.iloc[6,3]+data.iloc[7,2]+data.iloc[7,3]\
                                            +data.iloc[8,2]+data.iloc[8,3]+data.iloc[9,2]+data.iloc[9,3])
            age1824pct=(data.iloc[5,2]+data.iloc[5,3])/agesum
            age2539pct=(data.iloc[6,2]+data.iloc[6,3])/agesum
            age4054pct=(data.iloc[7,2]+data.iloc[7,3])/agesum
            age55pluspct=(data.iloc[8,2]+data.iloc[8,3]+data.iloc[9,2]+data.iloc[9,3])/agesum
            
            incomesum=data.iloc[50,2]+data.iloc[50,3]+data.iloc[51,2]+data.iloc[51,3]+data.iloc[52,2]+data.iloc[52,3]\
                        +data.iloc[53,2]+data.iloc[53,3]+data.iloc[54,2]+data.iloc[54,3]\
                        +data.iloc[55,2]+data.iloc[55,3]+data.iloc[56,2]+data.iloc[56,3]+data.iloc[57,2]+data.iloc[57,3]

            income50minuspct=(data.iloc[50,2]+data.iloc[50,3]+data.iloc[51,2]+data.iloc[51,3]+data.iloc[52,2]+data.iloc[52,3])/incomesum
            income50100pct=(data.iloc[53,2]+data.iloc[53,3]+data.iloc[54,2]+data.iloc[54,3])/incomesum
            income100pluspct=(data.iloc[55,2]+data.iloc[55,3]+data.iloc[56,2]+data.iloc[56,3]+data.iloc[57,2]+data.iloc[57,3])/incomesum
        
        mydict['year']=year
        mydict['day']=day
        mydict['state']=state
        mydict['wfhpct']=wftpct
        mydict['age1824pct']=age1824pct
        mydict['age2539pct']=age2539pct
        mydict['age4054pct']=age4054pct
        mydict['age55pluspct']=age55pluspct
        mydict['income50minuspct']=income50minuspct
        mydict['income50100pct']=income50100pct
        mydict['income100pluspct']=income100pluspct
        
        finaldata.append(mydict)

13
2020
August 19
14
2020
September 2
15
2020
September 16
16
2020
September 30
17
2020
October 14
18
2020
October 28
19
2020
November 11
20
2020
November 25
21
2020
December 9
22
2021
January 6
23
2021
January 20
24
2021
February 3
25
2021
February 17
26
2021
March 3
27
2021
March 17
28
2021
April 14
AK
97067
AL
607624
AR
345534
AZ
1477384
CA
9631328
CO
1613252
CT
838426
DC
297332
DE
233623
FL
3779113
GA
1928670
HI
228123
IA
559860
ID
279163
IL
2757848
IN
939297
KS
497636
KY
567061
LA
654108
MA
2052679
MD
1846800
ME
265399
MI
1996300
MN
1435884
MO
1049631
MS
254229
MT
124222
NC
2049933
ND
86944
NE
361595
NH
336543
NJ
2138322
NM
373343
NV
438083
NY
4569335
OH
1993112
OK
478414
OR
950628
PA
2615446
RI
245837
SC
775874
SD
98583
TN
1022178
TX
5478566
UT
770718
VA
2287648
VT
149964
WA
1809927
WI
1036022
WV
231275
WY
68876
29
2021
April 28
AK
130880
AL
487122
AR
381061
AZ
1597812
CA
9198726
CO
1621194
CT
786063
DC
310547
DE
215804
FL
3516790
GA
2048277
HI
202543
IA
457931
ID
306173
IL
2994057
IN
989719
KS
454523
KY
628691
LA
465753
MA
1893924
MD
1795019
ME
258612
MI
1957500
MN
1453823
MO
1031493
MS
226707
MT
150450
NC
1895590
ND
88560
NE
339644
NH
315843
NJ
2243014
NM
331079
NV
534787
NY
4172559
OH
1935680
OK
503842
OR
927827
PA
2402183
RI
210360
SC
553833
SD
102523
TN
971913
TX
5527559
UT
720963
VA
2143479
VT
110393
WA
2052992
WI
1049784
WV
158262
WY
60206
30
2021
May 12
AK
123120
AL
473241
AR
371535
AZ
1445649
CA
8846111
CO
1497145
CT
753762
DC
335951
DE
202710
FL
3388286
GA
1747636
HI
235006
IA
428371
ID
252124
IL
3092053
IN
984067
KS
462835
KY
552029
LA
435086
MA
1861042
MD
1719239
ME
224831
MI
1896971
MN
1310733
MO
1000439
MS
304184
MT
116814
NC
1995712
ND
79704
NE
321171
NH
317487
NJ
2207028
NM
361477
NV
420013
NY
4301070
OH
1812257
OK
520587
OR
897223
PA
2200038
RI
219029
SC
589023
SD
103239
TN
1090151
TX
5171702
UT
809302
VA
2067663
VT
122091
WA
1939146
WI
1007892
WV
179503
WY
42628
31
2021
May 26
AK
93726
AL
568678
AR
287075
AZ
1367357
CA
9020863
CO
1381353
CT
875287
DC
296017
DE
205483
FL
3561852
GA
1865137
HI
224112
IA
453972
ID
240174
IL
2576817
IN
930655
KS
471841
KY
605855
LA
378029
MA
1982655
MD
1677172
ME
222128
MI
1733091
MN
1321781
MO
992184
MS
250001
MT
117429
NC
1826836
ND
81600
NE
306372
NH
299932
NJ
2132607
NM
356141
NV
416815
NY
3717866
OH
1524760
OK
474424
OR
877813
PA
2548000
RI
231543
SC
672809
SD
82421
TN
779179
TX
4752652
UT
677051
VA
1942598
VT
133742
WA
1814457
WI
884108
WV
184400
WY
58754
32
2021
June 9
AK
83553
AL
531385
AR
297316
AZ
1471318
CA
8218402
CO
1310021
CT
707643
DC
283820
DE
204071
FL
2771090
GA
1806582
HI
204223
IA
407752
ID
288720
IL
2370978
IN
703310
KS
460114
KY
479083
LA
487669
MA
1872583
MD
1537445
ME
232549
MI
1541297
MN
1208676
MO
926050
MS
199664
MT
115075
NC
1702797
ND
73667
NE
278954
NH
281716
NJ
2189662
NM
320779
NV
448638
NY
4024218
OH
1810184
OK
470819
OR
973465
PA
2668715
RI
172484
SC
526436
SD
77278
TN
1062368
TX
5029443
UT
787213
VA
1802213
VT
114762
WA
1902029
WI
987240
WV
163706
WY
42819
33
2021
June 23
AK
89991
AL
566468
AR
324622
AZ
1399262
CA
8419160
CO
1319273
CT
675091
DC
292911
DE
207665
FL
2930895
GA
1751828
HI
199113
IA
374737
ID
214688
IL
2442426
IN
837137
KS
447057
KY
473077
LA
515815
MA
1964968
MD
1564183
ME
173144
MI
1619715
MN
1272180
MO
922548
MS
199729
MT
143052
NC
1565769
ND
77170
NE
350413
NH
277811
NJ
2152281
NM
274138
NV
420204
NY
4062349
OH
1756006
OK
477814
OR
808800
PA
2243659
RI
195308
SC
675285
SD
81176
TN
1023524
TX
4485578
UT
661100
VA
2014023
VT
148955
WA
1689146
WI
935674
WV
202385
WY
76629

In [344]:
finaldf=pd.DataFrame(finaldata)

In [345]:
finaldf

,year,day,state,wfhpct,age1824pct,age2539pct,age4054pct,age55pluspct,income50minuspct,income50100pct,income100pluspct
0,2020,August 19,AK,0.328396,0.117912,0.354686,0.314123,0.213279,0.179566,0.341478,0.478956
1,2020,August 19,AL,0.251539,0.124787,0.347698,0.272252,0.255263,0.176606,0.393772,0.429622
2,2020,August 19,AR,0.263968,0.217166,0.313468,0.253318,0.216048,0.193305,0.369093,0.437602
3,2020,August 19,AZ,0.349531,0.113138,0.328943,0.299633,0.258287,0.207135,0.346091,0.446774
4,2020,August 19,CA,0.397054,0.108920,0.342453,0.284702,0.263926,0.142033,0.275792,0.582175
...,...,...,...,...,...,...,...,...,...,...,...
1066,2021,June 23,VT,0.355129,0.104608,0.202299,0.360099,0.332994,0.193933,0.297414,0.508653
1067,2021,June 23,WA,0.364828,0.078438,0.367913,0.284143,0.269505,0.131542,0.238888,0.629570
1068,2021,June 23,WI,0.267081,0.082114,0.287553,0.329563,0.300771,0.139759,0.372068,0.488173
1069,2021,June 23,WV,0.196620,0.139326,0.256338,0.340609,0.263727,0.093350,0.374186,0.532464
1070,2021,June 23,WY,0.238571,0.097929,0.309248,0.341496,0.251327,0.107278,0.476634,0.416088

In [316]:
link ='https://www2.census.gov/programs-surveys/demo/tables/hhp/2021/wk28/transport1_week28.xlsx'
xls = pd.ExcelFile(link)
data = pd.read_excel(xls,'CA')

In [317]:
new_header = data.iloc[3] #grab the first row for the header
data = data[4:] #take the data less the header row
data.columns = new_header #set the header row as the df header

In [338]:
data.tail(55)[:10]

3,Select characteristics,Total,Some adult in household teleworked in the last 7 days,Some adult in household teleworked in the last 7 days,Some adult in household teleworked in the last 7 days,Some adult in household teleworked in the last 7 days,Some adult in household teleworked in the last 7 days
52,Did not report,654,-,-,-,-,654
53,Household income,NaN,NaN,NaN,NaN,NaN,NaN
54,"Less than $25,000",47114,1146,-,-,45968,-
55,"$25,000 - $34,999",40708,327,-,-,40381,-
56,"$35,000 - $49,999",35488,4881,2523,-,28085,-
57,"$50,000 - $74,999",78638,3677,2574,-,72387,-
58,"$75,000 - $99,999",58478,13448,5910,-,38647,474
59,"$100,000 - $149,999",86965,22834,3030,-,61101,-
60,"$150,000 - $199,999",17761,6699,1702,-,9360,-
61,"$200,000 and above",14741,2885,2713,-,9144,-

In [339]:
data.replace('-',0)

3,Select characteristics,Total,Some adult in household teleworked in the last 7 days,Some adult in household teleworked in the last 7 days,Some adult in household teleworked in the last 7 days,Some adult in household teleworked in the last 7 days,Some adult in household teleworked in the last 7 days
4,NaN,NaN,Yes,Yes,Yes,No,Did not report
5,NaN,NaN,Because of the coronavirus pandemic,Not because of the coronavirus pandemic,Did not report,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Total,560525.0,86944,35064,0,437389,1128
8,Age,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
102,A lot of difficulty,11067.0,330,0,0,10737,0
103,Cannot do at all,0.0,0,0,0,0,0
104,Did not report,144598.0,25643,16613,0,101688,654
105,* Totals may not sum to 100% as the question a...,NaN,NaN,NaN,NaN,NaN,NaN
106,** The Census Bureau considers estimated coeff...,NaN,NaN,NaN,NaN,NaN,NaN

In [319]:
data.iloc[50,2]

277268

In [320]:
wftpct=(data.iloc[3,2]+data.iloc[3,3]+data.iloc[3,4])/(data.iloc[3,2]+data.iloc[3,3]+data.iloc[3,4]+data.iloc[3,5])

In [303]:
wftpct

0.36747202571414034

In [297]:
age1824pct=(data.iloc[5,2]+data.iloc[5,3])/(data.iloc[5,2]+data.iloc[5,3]+data.iloc[6,2]+data.iloc[6,3]+data.iloc[7,2]+data.iloc[7,3]\
                                            +data.iloc[8,2]+data.iloc[8,3]+data.iloc[9,2]+data.iloc[9,3])
age2539pct=(data.iloc[6,2]+data.iloc[6,3])/(data.iloc[5,2]+data.iloc[5,3]+data.iloc[6,2]+data.iloc[6,3]+data.iloc[7,2]+data.iloc[7,3]\
                                            +data.iloc[8,2]+data.iloc[8,3]+data.iloc[9,2]+data.iloc[9,3])
age4054pct=(data.iloc[7,2]+data.iloc[7,3])/(data.iloc[5,2]+data.iloc[5,3]+data.iloc[6,2]+data.iloc[6,3]+data.iloc[7,2]+data.iloc[7,3]\
                                            +data.iloc[8,2]+data.iloc[8,3]+data.iloc[9,2]+data.iloc[9,3])
age55pluspct=(data.iloc[8,2]+data.iloc[8,3]+data.iloc[9,2]+data.iloc[9,3])/(data.iloc[5,2]+data.iloc[5,3]+data.iloc[6,2]+data.iloc[6,3]+data.iloc[7,2]+data.iloc[7,3]\
                                            +data.iloc[8,2]+data.iloc[8,3]+data.iloc[9,2]+data.iloc[9,3])

In [334]:
incomesum=data.iloc[50,2]+data.iloc[50,3]+data.iloc[51,2]+data.iloc[51,3]+data.iloc[52,2]+data.iloc[52,3]\
            +data.iloc[53,2]+data.iloc[53,3]+data.iloc[54,2]+data.iloc[54,3]\
            +data.iloc[55,2]+data.iloc[55,3]+data.iloc[56,2]+data.iloc[56,3]+data.iloc[57,2]+data.iloc[57,3]

income50minuspct=(data.iloc[50,2]+data.iloc[50,3]+data.iloc[51,2]+data.iloc[51,3]+data.iloc[52,2]+data.iloc[52,3])/incomesum
income50100pct=(data.iloc[53,2]+data.iloc[53,3]+data.iloc[54,2]+data.iloc[54,3])/incomesum
income100pluspct=(data.iloc[55,2]+data.iloc[55,3]+data.iloc[56,2]+data.iloc[56,3]+data.iloc[57,2]+data.iloc[57,3])/incomesum

In [309]:
incomesum=data.iloc[50,2]+data.iloc[50,3]+data.iloc[51,2]+data.iloc[51,3]+data.iloc[52,2]+data.iloc[52,3]\
            +data.iloc[53,2]+data.iloc[53,3]+data.iloc[54,2]+data.iloc[54,3]\
            +data.iloc[55,2]+data.iloc[55,3]+data.iloc[56,2]+data.iloc[56,3]+data.iloc[57,2]+data.iloc[57,3]

In [330]:
income50100pct=(data.iloc[53,2]+strtozero(data.iloc[53,3])+data.iloc[54,2]+strtozero(data.iloc[54,3]))/incomesum

In [336]:
income100pluspct

0.4877574031214765

In [306]:
age4054pct

0.27718326101856083

In [307]:
age55pluspct

0.2863033158934202

In [308]:
data.iloc[6,2]

3366622

In [311]:
income50minuspct

0.1421561091357161

In [312]:
income50100pct

0.2565929513457752

In [313]:
income100pluspct

0.6012509395185087

In [323]:
def strtozero(thing):
    if type(thing) == str:
        return 0
    return thing

In [324]:
strtozero("sedgf")

0

In [325]:
strtozero(1.1)

1.1